@font-face {
  font-family: NaftaLight;
  src: url('./assets/fonts/NaftaLight-Regular.ttf');
}

@font-face {
  font-family: NaturalFace;
  src: url('./assets/fonts/NeutralFace.otf');
}

@font-face {
  font-family: NaturalFace-Bold;
  src: url('./assets/fonts/NeutralFace-Bold.otf');
}

:root {
  font-family: Helvetica, sans-serif;
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --border: 1px solid #80808033;
  --font-color-light: #ebeef2;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  background-color: #59574c;
}

header {
  scroll-snap-align: start;
  z-index: 1;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 40rem;

  padding: 0.5rem 0;

  display: flex;
  justify-content: space-evenly;

  border-radius: 0rem 0rem 0.5rem 0.5rem;
  background-color: #403f3f36;
  backdrop-filter: blur(0.5rem);
  box-shadow: var(--shadow);

  font-size: 1rem;
  color: #ebeef3;
  font-family: 'NaturalFace';
}

nav > a {
  text-decoration: none;
  color: #ebeef3;

  margin: 0 1rem;
}

section {
  scroll-snap-align: start;

  scroll-margin-top: 4rem;
  height: calc(100vh - 5rem);

  display: grid;
  grid-template-rows: 4rem auto;
  align-items: center;

  max-width: 70rem;

  margin: auto;

  border-radius: 1rem 1rem 0rem 0rem;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img {
  object-fit: cover;
  max-width: 100%;
}

h1 {
  font-family: 'NaturalFace-Bold';
  text-align: center;
}

menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0;
  margin: 0;

  list-style: none;
}

.title {
  align-self: center;

  margin: 0;
  padding: 1rem;

  position: relative;
  bottom: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
  background-color: inherit;

  font-size: 2rem;
  letter-spacing: 1px;
  font-family: 'NaturalFace';
  color: var(--font-color-light);
}

.description {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  /* justify-content: space-evenly; */

  font-size: 1rem;
  margin: 0 3rem;
}

.description > p {
  margin: 0;
  line-height: 1.2rem;
  font-size: 0.9em;
}

/** LINKS */

menu > li > a,
.end > a {
  display: block;
  width: 45px;
  height: 45px;

  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.dark.gitHub {
  background-image: url('./assets/icons/GitHub.svg');
}
.light.gitHub {
  background-image: url('./assets/icons/GitHub-light.svg');
}

.dark.linkedIn {
  background-image: url('./assets/icons/LinkedIn.svg');
}
.light.linkedIn {
  background-image: url('./assets/icons/LinkedIn-light.svg');
}

.dark.x {
  background-image: url('./assets/icons/X.svg');
}
.light.x {
  background-image: url('./assets/icons/X-light.svg');
}

.openFile {
  background-image: url('./assets/icons/openFile.png');
}

menu > li > .mail {
  background-image: url('./assets/icons/mail.png');
}

menu > li > .phone {
  background-image: url('./assets/icons/phone.png');
}

/** BANNER */

.banner {
  position: relative;
  display: flex;

  max-height: 100vh;
  margin: 0;

  box-shadow: var(--shadow);
}

.name {
  position: absolute;
  bottom: 2.5rem;

  width: 100%;
  margin: 0;

  font-size: 2rem;
  color: var(--font-color-light);
}

/** ABOUT ME  */

#about-me {
  z-index: 2;
  grid-template-columns: 1fr;
  background-color: #a6a197;
}

#about-me > .title {
  color: #38382f;
}

#about-me > .content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
}

.quote {
  font-family: 'NaturalFace-bold';
  align-self: center;
}

#about-me > .content > menu {
  margin-bottom: 2rem;
}

/** MY WORK */

#work {
  z-index: 3;

  border-radius: 1rem 1rem 0rem 0rem;
  background-color: #59574c;
}

#work > .content {
  align-self: baseline;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 90%;
  margin: 0 1.5rem;

  border-radius: 0.5rem;

  overflow: scroll;
  scroll-snap-type: y mandatory;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#work > .content::-webkit-scrollbar {
  display: none;
}

.project-card {
  scroll-snap-align: start;

  display: grid;
  grid-template-rows: 2rem 2fr 1fr 3rem;

  align-items: center;

  min-height: 80%;
  padding: 1rem;

  background-color: #a6a197;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.project-card > figure {
  grid-column: 1/-1;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 0.5rem;
}

.project-card > figure > figcaption {
  font-size: 0.8rem;
  font-family: 'NaturalFace-Bold';
}

.project-title {
  align-self: baseline;
  margin: 0;

  font-size: 1.2rem;
  font-family: 'NaturalFace';
}

.project-description {
  grid-column: 1/-1;
  padding: 0 1.5rem;
}

.end > .project-title,
.end > .gitHub {
  justify-self: center;
}

.project-card.end {
  grid-template-rows: 2rem auto 2rem;
}

.end > .gitHub {
  width: 100px;
  height: 100px;
}

/** CONTACT */

#contact {
  z-index: 4;

  background-color: #3f4033;

  color: var(--font-color-light);
}

#contact > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
}
#contact > .content > .description {
  background-color: #59574c;
  padding: 1.5rem;
  margin: 0 2rem;
  border-radius: 1rem;
  border: var(--border);

  box-shadow: var(--shadow);
}

.contact-details {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin: 1.5rem 0;
}

.contact-details {
  align-self: center;
}

address > label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #cececb;
}

address > label > a {
  color: white;
}

@media (min-width: 499px) {
  nav {
    font-size: 1.2rem;
  }

  .name {
    font-size: 3rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.1em;
  }
}
