@font-face {
  font-family: NaftaLight;
  src: url('./assets/fonts/NaftaLight-Regular.ttf');
}

@font-face {
  font-family: NaturalFace;
  src: url('./assets/fonts/NeutralFace.otf');
}

@font-face {
  font-family: NaturalFace-Bold;
  src: url('./assets/fonts/NeutralFace-Bold.otf');
}

:root {
  font-family: Helvetica, sans-serif;
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --border: 1px solid #80808033;
  --font-color-light: #ebeef2;
  --index: 1;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #59574c;
}

main {
  position: relative;
  /* bottom: 1rem; */
}

header {
  z-index: 1;
  position: sticky;
  top: 0;
}

nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 30rem;

  padding: 0.5rem 0;

  display: flex;
  justify-content: center;

  border-radius: 0rem 0rem 0.5rem 0.5rem;
  background-color: #403f3f36;
  backdrop-filter: blur(0.5rem);
  box-shadow: var(--shadow);

  font-size: 1rem;
  color: #ebeef3;
  font-family: 'NaturalFace';
}

nav > a {
  text-decoration: none;
  color: #ebeef3;

  margin: 0 1rem;
}

section {
  display: grid;
  grid-template-rows: 4rem auto;
  align-items: center;

  max-width: 70rem;

  margin: auto;
  border-radius: 1rem 1rem 0rem 0rem;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

img {
  object-fit: contain;
  max-width: 100%;
}

figcaption {
  font-family: 'NaturalFace-Bold';
  text-align: center;
}

menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0;
  margin: 0;

  list-style: none;
}

.title {
  align-self: center;

  margin: 0;
  padding: 1rem;

  font-size: 2rem;
  letter-spacing: 1px;
  font-family: 'NaturalFace';
  color: var(--font-color-light);
}

.description {
  font-size: 1.1rem;
  margin: 2rem 1rem;
}

/** LINKS */

menu > li > a {
  display: block;
  width: 45px;
  height: 45px;

  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.dark.gitHub {
  background-image: url('./assets/icons/GitHub.svg');
}
.light.gitHub {
  background-image: url('./assets/icons/GitHub-light.svg');
}

.dark.linkedIn {
  background-image: url('./assets/icons/LinkedIn.svg');
}
.light.linkedIn {
  background-image: url('./assets/icons/LinkedIn-light.svg');
}

.dark.x {
  background-image: url('./assets/icons/X.svg');
}
.light.x {
  background-image: url('./assets/icons/X-light.svg');
}

.openFile {
  background-image: url('./assets/icons/openFile.png');
}

/** BANNER */

.banner > figure {
  position: relative;
  display: flex;

  margin: 0;
  box-shadow: var(--shadow);
}

.banner > figure > figcaption {
  position: absolute;
  bottom: 2rem;

  width: 100%;

  font-size: 2.5rem;
  color: white;
}

/** ABOUT ME  */

#about-me {
  z-index: 2;
  position: sticky;
  top: 2.5rem;

  height: calc(100vh - 3rem);
  grid-template-columns: 1fr;

  background-color: #a6a197;
}

#about-me > .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
}

#about-me > menu {
  grid-column: 2;
}

/** MY WORK */

#work {
  z-index: 3;
  position: sticky;
  top: 4rem;

  height: calc(100vh - 4.5rem);

  border-radius: 1rem 1rem 0rem 0rem;
  background-color: #59574c;
}

#work > .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  height: 100%;
  overflow: scroll;
}

.project-card {
  position: sticky;
  top: calc(var(--index) * 1rem);

  display: grid;
  grid-template-rows: 3rem 1fr 1fr 3rem;

  align-items: center;

  min-height: 25rem;
  padding: 1rem;
  margin: 0 1.5rem;

  background-color: #a6a197;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.project-card:nth-of-type(n + 2) {
  --index: 2;
}

.project-card:nth-of-type(n + 3) {
  --index: 3;
}

.project-card:nth-of-type(n + 4) {
  --index: 4;
}

.project-card:nth-of-type(n + 5) {
  --index: 5;
}

.project-card:nth-of-type(n + 6) {
  --index: 6;
}

.project-card.end {
  grid-column: 1/-1;
}

.project-card > figure {
  grid-column: 1/-1;
}
.project-title {
  align-self: baseline;
  margin: 0;

  font-size: 1.2rem;
  font-family: 'NaturalFace';
}

.project-description {
  grid-column: 1/-1;
}

/** CONTACT */

#contact {
  z-index: 4;
  position: sticky;
  top: 5rem;

  height: calc(100vh - 5.5rem);

  background-color: #3f4033;

  color: var(--font-color-light);
}

@media (max-width: 499px) {
}

/* style.css | http://127.0.0.1:5500/style.css */

/* #work > .content {
  position: sticky;
  top: 1rem;
  transform-origin: center top;
} */
